@import 'variables';

@mixin on-mq-support($view, $font: $font_default){
  html {
    font-family: $view;
  }

  body {
    font-family: $font;
  }
}

@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin breakpoint($context){
  $start: false !default;

  @if ($context == $beta){
    $start: $beta_start;
  }
  @else if ($context == $gamma){
    $start: $gamma_start;
  }

  @if (variable-exists(oldie) and $start){
    @content;
  }
  @else {
    @if ($context == $delta){
      $start: $delta_start;
    }
    @else if ($context == $epsilon){
      $start: $epsilon_start;
    }
    @else if ($context == $zeta){
      $start: $zeta_start;
    }
    @else if ($context == $eta){
      $start: $eta_start;
    }

    @if $start {
      @media (min-width: $start){
        @content;
      }
    }
  }
}

@mixin hidden() {
  display: block;
  height: 0;
  opacity: 0;
  overflow: hidden;
  width: 0;
}

@mixin visible($display: block) {
  display: $display;
  height: auto;
  opacity: 1;
  overflow: visible;
  width: auto;
}

@mixin tile-space($columns, $ratio, $initial: false){
  $width: (100%/$columns);

  @if ($initial) {
    display: block;
    float: left;
    height: 0;
    overflow: hidden;
    padding: 0 0 ($width * $ratio) 0;
    position: relative;
  }
  @else {
    padding-bottom: ($width * $ratio);
  }

  width: $width;
}

@mixin tile($margin: 0, $initial: false) {
  @if ($initial){
    display: block;
    height: auto;
    position: absolute;
    width: auto;
  }

  bottom: $margin;
  left: $margin;
  right: $margin;
  top: $margin;
}

@mixin grid($columns: 2, $initial: false, $tile-margin: 0, $ratio: (1/1)){
  @if ($initial) {
    @include clearfix();
    display: block;
    list-style-type: none;
    padding: 0;
  }

  @if ($tile-margin != 0){
    margin: -($tile-margin/$columns);
  }

  &-tile-space {
    @include tile-space($columns, $ratio, $initial);
  }

  &-tile {
    @include tile($tile-margin, $initial);
  }
}