{% extends '../Framework/layout.html' %}
{% block content %}
<h1>OK Responsive Image</h1>
<img src="//placehold.it/50" alt="OK" data-images='{
    "alpha": "//placehold.it/100",
    "beta": "//placehold.it/200",
    "gamma": "//placehold.it/300",
    "delta": "//placehold.it/400",
    "epsilon": "//placehold.it/500",
    "zeta": "//placehold.it/600",
    "eta": "//placehold.it/700"
}'/>

<h1>Broken Responsive Image</h1>
<img src="//placehold.it/50" alt="Broken" data-images='{
    alpha: "//placehold.it/100",
    beta: "//placehold.it/200",
    gamma: "//placehold.it/300",
    delta: "//placehold.it/400",
    epsilon: "//placehold.it/500",
    zeta: "//placehold.it/600",
    eta: "//placehold.it/700"
}'/>
{% endblock %}