$alpha: 'alpha';
$beta: 'beta';
$gamma: 'gamma';
$delta: 'delta';
$epsilon: 'epsilon';
$zeta: 'zeta';
$eta: 'eta';

$alpha_min: 20em;
$beta_start: 40em;
$gamma_start: 60em;
$delta_start: 80em;
$epsilon_start: 100em;
$zeta_start: 120em;
$eta_start: 140em;
$eta_max: 160em;

$font_default: 'Helvetica', sans-serif;
$font_title: 'Helvetica', sans-serif;

$margin-small: .5em;
$margin-medium: 1em;
$margin-large: 2em;

$padding-small: $margin-small;
$padding-medium: $margin-medium;
$padding-large: $margin-large;